# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Remote sensing data
*.tif
*.tiff
*.jp2
*.hdf
*.h5
*.nc
*.img

# Large remote sensing data
data/raw/*
data/downloaded/*
data/processed/*
data/samples/*

# Keep folder structure in Git
!data/raw/.gitkeep
!data/downloaded/.gitkeep
!data/processed/.gitkeep
!data/samples/.gitkeep

# Models
models/checkpoints/*
models/trained_models/*

!models/checkpoints/.gitkeep
!models/trained_models/.gitkeep

# Generated outputs
outputs/figures/*
outputs/maps/*
outputs/tables/*
outputs/metrics/*
outputs/predictions/*

!outputs/figures/.gitkeep
!outputs/maps/.gitkeep
!outputs/tables/.gitkeep
!outputs/metrics/.gitkeep
!outputs/predictions/.gitkeep
# Environment / credentials
.env